<div class="row">
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-aqua">

            <div class="inner ">
                <!-- <a href="#"> -->
                <h3>{{Totalizador.OcorrenciasRoteiro}}</h3>
                <p>Ocorrências em Roteiro</p>
                <!-- </a>-->
            </div>

            <div class="icon">
                <i class="ion ion-checkmark-round"></i>
            </div>
        </div>
    </div><!-- ./col -->
                <div class="col-lg-2 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-green">
                        <div class="inner">
                            <h3>{{Totalizador.OcorrenciasConcluidas}}</h3>
                            <p>Ocorrências Concluidas</p>

                        </div>
                        <div class="icon">
                            <i class="ion ion-happy-outline"></i>
                        </div>
                    </div>
                </div><!-- ./col -->


                <div class="col-lg-2 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-yellow">
                        <div class="inner">
                            <h3>{{Totalizador.OcorrenciasExecucao}}</h3>
                            <p>Ocorrências em Execução</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-load-a"></i>
                        </div>
                    </div>
                </div><!-- ./col -->
                <div class="col-lg-2 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-red">
                        <div class="inner">
                            <h3>{{Totalizador.OcorrenciaPendentes}}</h3>
                            <p>Ocorrências Pendentes</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-android-alert"></i>
                        </div>
                    </div>
                </div><!-- ./col -->
                <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-purple">
                        <div class="inner">
                            <h3>{{Totalizador.OcorrenciaAbertaGeral}}</h3>
                            <p>Ocorrências em Aberto</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-help-circled"></i>
                        </div>
                    </div>
                </div><!-- ./col -->

            </div><!-- /.row -->